.main{
    display: flex;
    flex-flow: column nowrap;
    .topBar{
        background-color: gainsboro;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    width: calc(100vw - 300px);
    .submain{
        background-color: aqua;
        .chatframe{
            width: 100%;
            height: 85vh;
            overflow-y: scroll;
            .friend{
                background-color: rgb(207, 241, 240);
                border-radius: 0 12px 12px 12px;
                max-width: 50%;
                width: fit-content;
                height: fit-content;
                margin-top: 15px;
                margin-left: 5%;
                padding-left: 12px;
                padding-right: 12px;
                min-height: 25px;

            }
            .you{
                background-color: aliceblue;
                border-radius: 12px 0 12px 12px;
                min-height: 25px;
                height: fit-content;
                width: fit-content;
                max-width: 50%;
                padding-left: 12px;
                padding-right: 12px;
                margin-top: 15px;
               margin-left: 45%;
            }
        }
        .chatInput{
            display: flex;
            flex-flow: row nowrap;
            border: 2px solid grey;
            border-radius: 13px;
            overflow: hidden;
            input{
                width: 100%;
                height: 35px;
                outline: none;
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
        position: absolute;
        top: 30px;
        z-index: -1;
        .submain{
            .chatframe{
                height: calc(100vh - 112px);
            }
        }
    }
  }