.main{
    width: calc(100vw - 300px);
    .topBar{
        background-color: gainsboro;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submain{
        .chatframe{
            height: 85vh;
            background-color: aqua;
            overflow-y: scroll;
            .friend{
                background-color: rgb(207, 241, 240);
                border-radius: 0 12px 12px 12px;
                max-width: 50%;
                width: fit-content;
                height: fit-content;
                margin-top: 15px;
                margin-left: 5%;
                padding:2px 8px 2px 8px;;
                min-height: 30px;
                overflow-wrap: break-word;
                .msg{
                    font-size: 12px;
                }
            }
            .you{
                background-color: aliceblue;
                border-radius: 12px 0 12px 12px;
                margin-top: 15px;
                max-width: 50%;
                margin-left: auto;
                margin-right: 5%;
                overflow-wrap: break-word;
                width: fit-content;
                height: fit-content;
                min-height: 30px;
                padding: 1px 8px 1px 8px;
                .msg{
                    font-size: 12px;
                }
                .ticks{
                    font-size: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    font-style: italic;
                }
            }
        }
        .chatInput{
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            box-shadow: 0 0 1px;
            input{
                width: 100%;
                height: 35px;
                outline: none;
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main{
        z-index: -1;
        width: 100%;
        position: absolute;
        top: 40px;
        .submain{
            .chatframe{
                height: calc(100vh - 112px);
                .you{
                    margin-right: 2%;
                    max-width: 78%;
                }
                .friend{
                    margin-left: 2%;
                    max-width: 78%;
                }
            }
        }
    }
  }