.main {
    min-width: 300px;
    .submain1{
        .userIcon{
            display: none;
        }
    }
    .toggleuser{
        z-index: 3;
        background-color: rgb(248, 245, 248);
        .searchbar{
                height: 50px;
                .inputSearch{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    width: 100%;
                    input{
                        margin-top: 10px;
                        width: 100%;
                        outline: none;
                        border: none;
                        height: 40px;
                        text-align: center;
                    }
                }
               
            }
            .userlist{
                list-style: none;
                li{
                    height: 50px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    align-items: center;
                    box-shadow: 0 0 1px;
                    div{
                        width: 60%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;

                    }
                }
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    .submain2{
        .searchbar{
            height: 50px;
            .inputSearch{
                display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    width: 100%;
                input{
                    outline: none;
                    border: none;
                    height: 30px;
                }
            }
        }
        .userlist{
            list-style: none;
            li{
                height: 50px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                box-shadow: 0 0 1px;
                div{
                    width: 60%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;

                }
            }
            &:hover{
                opacity: 0.6;
            }
        }
    }
    
}


@media only screen and (max-width: 600px) {
    .main{
        width: 100%;
        .submain1{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .userIcon{
                display: flex !important;
            }
        }
        .submain2{
            display: none;
        }
    }
  }